$card-bg-color: #fff;
$card-shadow-color: rgba(0, 0, 0, .19);
$address-hover-color: rgb(44, 44, 44);

:host {
    display: block;
    height: 900px;
    position: relative;
}

agm-map {
    height: 100%;
}

.contact-card {
    background-color: $card-bg-color;
    bottom: 0;
    box-shadow: 3px 0 20px $card-shadow-color;
    height: calc(100% - 260px);
    left: 10%;
    overflow: hidden;
    position: absolute;
    width: 540px;

    .social-media {
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: center;
    }

    .heading {
        margin: 60px;
    }

    .text {
        padding: 60px 60px 0;
    }

    h2 {
        font-size: .9em;
    }

    .author {
        font-size: .8em;
    }

}

.address {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-position: under;

    &:hover {
        color: $address-hover-color;
        text-decoration-line: none;
    };
}

@media (max-width: 992px) {
    .contact-card {
        box-shadow: none;
        left: 0;
        overflow: initial; // overflow: hidden breaks, so initial needs to be set
        position: relative;
        width: 100%;
    }

    :host {
        height: 500px;
        position: relative;
    }
}

@media (max-width: 640px) {
    agm-map {
        display: none;
    }

    .author {
        display: none;
    }
}
