<agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="scrollWheel" [zoom]="zoomLevel" [disableDoubleClickZoom]="disableDoubleClickZoom"
    [minZoom]="minZoom" [maxZoom]="maxZoom" [streetViewControl]="streetViewControl">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="contact-card">
    <h1>Dine with us</h1>
    <hr>

    <div class="social-media">
        <a target="_blank" href="https://www.facebook.com/JanchiKoreanKitchen/">
            <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/janchikoreankitchen/">
            <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
        </a>
    </div>

    <p>Designed By <a target="_blank" href="https://www.linkedin.com/in/dolan1/">Dolan</a>
</div>
