<agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="scrollWheel" [zoom]="zoomLevel" [disableDoubleClickZoom]="disableDoubleClickZoom"
    [minZoom]="minZoom" [maxZoom]="maxZoom" [streetViewControl]="streetViewControl">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="contact-card">
    <h1 class="heading">Dine with us</h1>
    <app-hr></app-hr>

    <div class="container-fluid text">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h2>Mon-Thu</h2>
                <p>11:30 — 21:30</p>
                <h2>Fri-Sat</h2>
                <p>11:00 — 22:00</p>
                <h2>Sun</h2>
                <p>11:00 — 21:00</p>
            </div>

            <div class="col-sm-6 col-xs-12">
                <p (click)="navToGoogleMaps()" class="address">
                    Bang Bang Oriental Food Hall<br>399 Edgware Rd<br>London<br>NW9 0FH
                </p>
                <p>
                    <a href="http://m.me/JanchiKoreanKitchen">@JanchiKoreanKitchen</a>
                </p>
                <p>
                    <a href="mailto:sales@cmsuktrading.com">sales@cmsuktrading.com</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="social-media">
                    <a target="_blank" href="https://www.facebook.com/JanchiKoreanKitchen/">
                        <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/janchikoreankitchen/">
                        <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="http://m.me/JanchiKoreanKitchen">
                        <i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <p class="author">Designed By <a target="_blank" href="https://www.linkedin.com/in/dolan1/">Dolan</a></p>
            </div>
        </div>
    </div>

</div>
