$card-bg-color: #fff;
$card-shadow-color: rgba(0, 0, 0, .19);
$border-color: #02294a;

:host {
    display: block;
    height: 500px;
    position: relative;
}

agm-map {
    height: 100%;
}

.contact-card {
    background-color: $card-bg-color;
    bottom: 0;
    box-shadow: 3px 0 20px $card-shadow-color;
    height: calc(100% - 60px);
    left: 10%;
    position: absolute;
    width: 450px;

    .social-media {
        text-align: center;
    }
}

hr {
    background-color: $border-color;
    border-width: 2px;
    margin-right: calc(100% - 100px);
}
