:host {
    display: block;
    padding-bottom: 100px;
    padding-top: 100px;
}

@media (max-width: 500px) {
    .full-text {
        display: none;
    }
}

@media (min-width: 500px) {
    .condensed-text {
        display: none;
    }
}
