<div class="container text-center">
    <h1 class="text-center">
        About
    </h1>

    <p>“JANCHI” in Korea means “FEAST” or “PARTY” - the pleasure of gathering food and enjoying it together.</p>

    <p>Our family recipes use great quality Korean ingredients, bringing the heart and soul of Korean food to the UK.</p>

    <p> We specialise in Dolsot-Bibimbab and Deopbab, which are some of Korea’s best-known dishes and simply tastes delicious.
        You can also enjoy light meals such as Haemul Pajeon, Japchae, K-style fried chicken, Kimbab and Spicy Tteokbokki.</p>

    <p> At JANCHI, you can expect the same quality and taste of authentic Korean food.</p>

    <p> We want our customers to feel the happiness and energy from our food and services.</p>
</div>
