<div class="container text-center">
    <h1>We deliver at</h1>
    <div class="row logos">
        <div class="col-sm-6 logo">
            <a target="_blank" href="https://deliveroo.co.uk/menu/london/colindale/janchi-korean-kitchen-at-bang-bang-oriental-food-hall">
                <img class="img-fluid" src="assets/deliveroo-logo.png">
            </a>
        </div>

        <div class="col-sm-6 logo">
            <a target="_blank" href="https://www.just-eat.co.uk/restaurants-janchikoreankitchenbangbangorientalfoodkingsbury">
                <img class="img-fluid" src="assets/just-eat-logo.png">
            </a>
        </div>
    </div>

    <div class="row text">
        <div class="col-sm-6">
            <a target="_blank" href="https://deliveroo.co.uk/menu/london/colindale/janchi-korean-kitchen-at-bang-bang-oriental-food-hall">
                <h3>Deliveroo</h3>
            </a>
        </div>

        <div class="col-sm-6">
            <a target="_blank" href="https://www.just-eat.co.uk/restaurants-janchikoreankitchenbangbangorientalfoodkingsbury">
                <h3>Just Eat</h3>
            </a>
        </div>
    </div>
</div>
