$logo-shadow-color: rgba(0, 0, 0, .4);
$logo-bg-color: #fff;

:host {
    display: block;
    height: 80vh;
    position: relative;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    z-index: 1000;

    .logo-box {
        align-items: center;
        background-color: $logo-bg-color;
        box-shadow: 0 0 20px $logo-shadow-color;
        display: flex;
        height: 500px;
        padding: 10px;
    }
}

.parallax {
    background-attachment: fixed;
    background-image: url('/assets/hero-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.timeout {
    bottom: 0;
    height: 100px;
    position: absolute;
    right: 10px;
    width: 100px;
    z-index: 10;
}
