$logo-shadow-color: rgba(0, 0, 0, .1);
$logo-bg-color: #fff;

%flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: inherit;
}

:host {
    display: block;
    height: 80vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.flex-container {
    @extend %flex;
    z-index: 1000;

    .logo-box {
        align-items: center;
        background-color: $logo-bg-color;
        box-shadow: 0 0 20px $logo-shadow-color;
        display: flex;
        padding: 10px;
    }
}

.flex-carousel {
    @extend %flex;

    .carousel {
        align-items: center;
        display: flex;
        height: inherit;
        position: absolute;
        width: inherit;
    }
}

.carousel-fade {
    .carousel-item {
        display: block;
        opacity: 0;
        position: absolute;
        transition: opacity .75s ease-in-out;

        &.active {
            opacity: 1;
		}
	}
}

.carousel,
.carousel-inner {
    height: 100%;
    width: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.timeout {
    bottom: 0;
    height: 100px;
    position: absolute;
    right: 10px;
    width: 100px;
    z-index: 10;
}
