<div class="container text-center">
    <h1>Menu</h1>

    <div class="row hr">
        <app-hr></app-hr>
    </div>

    <p>* * *</p>

    <p>Bibimbab — <em>Rice Topped with seasoned vegetables. Served with fried egg and gochujang</em></p>
    <p>Dolsot Bibimbab — <em>Bibimbap served in hot stone bowl with an egg, which continues to cook after it's served</em></p>

    <p>* * *</p>

    <p>Bulgogi — <em>Thinly sliced Beef marinated in soy sauce, sesame oil, garlic, spring onion, onion and black pepper with stir-fried veg</em></p>

    <p>Dwaeji Bulgogi — <em>Thinly sliced meat marinated in chilli pepper, sesame oil, garlic, spring onion, onion and black pepper with stir-fried veg</em></p>

    <p>* * *</p>

    <div>
        <a class="btn btn-primary btn-lg" href="assets/menus/menu.jpg">View Menu</a>
    </div>
</div>
