<div class="container text-center">
    <h1>Menu</h1>

    <div class="row hr">
        <app-hr></app-hr>
    </div>

    <div class="menu">
        <p>* * *</p>

        <p>Bibimbab — <em>Rice Topped with seasoned vegetables, fried egg and homemade Korean chilli paste</em></p>
        <p>Volcano Bibimbab — <em>Bibimbap served in a hot stone bowl which continues to cook</em></p>

        <p>* * *</p>

        <p>Beef Bulgogi — <em>Thinly sliced marinated beef with stir-fried veg. Served with rice</em></p>
        <p>Pork Bulgogi — <em>Thinly sliced marinated pork with stir-fried veg. Served with rice</em></p>
        <p>Chicken Bulgogi — <em>Thinly sliced marinated chicken with stir-fried veg. Served with rice</em></p>

        <p>* * *</p>

        <p>Plain K-style Fried Chicken — <em>Crunchy, double fried chicken. Served with salad</em></p>
        <p>Seasoned K-style Fried Chicken — <em>Marinated in homemade Korean sweet chilli sauce. Served with salad</em></p>

        <p>* * *</p>

        <p>Japchae — <em>Glass noodles with stir-fried veg</em></p>
        <p>Tteokbokki — <em>Stir-fried rice cakes with Korean chilli sauce, fish cakes, onions, cabbage and boiled egg</em></p>
        <p>Kimbap — <em>Rice rolls with thinly sliced veg and a choice of filling</em></p>
        <p>Jjamppong — <em>Korean spicy noodle soup (pork based broth) with seafood and mixed veg</em></p>
        <p>Haemul Pajeon — <em>Savoury Korean pancake with seafood. Served with soy sauce</em></p>

        <p>* * *</p>
    </div>

    <p class="menu-too-big">
        Click below to view our menu.
    </p>

    <div class="buttons">
        <a class="btn btn-primary btn-lg" target="_blank" href="assets/menus/menu.pdf">View Menu</a>
        <a class="btn btn-primary btn-lg" target="_blank" href="assets/menus/bing-soo-menu.pdf">Bing Soo Menu</a>
    </div>
</div>
