$menu-color: #fff;

:host {
    background-attachment: fixed;
    background-image: url('/assets/menu-pattern.jpg');
    background-position: center;
    display: block;
    padding-bottom: 100px;
    padding-top: 100px;
}

.container {
    background-color: $menu-color;
    padding-bottom: 100px;
    padding-top: 100px;
}

.hr {
    display: block;
}

.btn-lg {
    font-size: 1.6rem;
    line-height: 2;
    padding: .7rem 2.5rem;
}

em {
    font-size: .9em;
}

p {
    line-height: 2.5em;
}
