// You can add global styles to this file, and also import other style files
@import url('https://fonts.googleapis.com/css?family=Prata|Quicksand:300');
// sass-lint:disable no-important
$ghost-button-color: #000;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', Arial, sans-serif !important;
    font-size: 1.5em !important;
    text-transform: uppercase !important;
}

h1 {
    margin-bottom: 3em;
}

p {
    font-family: 'Prata', 'Times New Roman', Times, serif !important;
    font-size: 1.2em !important;
}

a {
    &:link {
        text-decoration: none !important;
    }

    &:visited {
        text-decoration: none !important;
    }

    &:hover {
        text-decoration: none !important;
    }

    &:active {
        text-decoration: none !important;
    }
}

.btn {
    background-color: transparent !important;
    border: 2px solid $ghost-button-color !important;
    border-radius: 0 !important;
    color: $ghost-button-color !important;
    font-family: 'Quicksand', Arial, sans-serif !important;
    outline: none !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;

    &:hover {
        background-color: transparent !important;
        border: 2px solid transparent !important;
        color: $ghost-button-color !important;
        cursor: pointer !important;
    }
}
