// You can add global styles to this file, and also import other style files
@import url('https://fonts.googleapis.com/css?family=Prata|Quicksand:300');

$ghost-button-color: #000;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 3em;
}

p {
    font-family: 'Prata', 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

a {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

.btn {
    background-color: transparent;
    border: 2px solid $ghost-button-color;
    border-radius: 0;
    color: $ghost-button-color;
    font-family: 'Quicksand', Arial, sans-serif;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: transparent;
        border: 2px solid transparent;
        color: $ghost-button-color;
        cursor: pointer;
    }
}
